<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>

        <li>{{class}}</li>

        <h2>Submit Button</h2>

        <p>The <strong>input type="submit"</strong> defines a button for submitting form data to a form-handler:</p>

        <form action="" method="post">
            {{form}}
            <input type="submit" value="Submit">
        </form>

        <p>If you click "Submit", the form-data will be sent to a page called "/action_page.php".</p>

    </ul>
</body>

</html>